.header {
  position: relative;
}
.header__image {
  background-image: url(../../assets/Header.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 75vh;
  border-radius: 0px;
  /* z-index: -1; */
}
