.recipe__section {
  background-color: rgb(226, 125, 43);
  width: 100%;
  max-width: 80%;
  max-height: 60%;
  border-radius: 40%;
  margin: 0 auto;
  padding-top: 20px;
  border: 0.5px solid rgba(89, 206, 89, 0.35);
}

.recipe__carousel-header {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS";
  font-size: 52px;
  line-height: 52px;
  font-weight: 400;
  color: rgba(61, 37, 8, 0.7);
  background: transparent;
  margin: 5px, auto, auto, auto;
  text-align: center;
}

.recipe__carousel-feature {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.slick-prev,
.slick-next {
  width: 40px;
  height: 40px;
}

.slick-prev:before,
.slick-next:before {
  color: brown;
  opacity: 1;
  font-size: 40px;
}
/* .slick-arrow {
  background-color: brown;
  width: 40px;
  height: 40px;
}

.slick-arrow:hover {
  background-color: brown;
  opacity: 0.8;
} */
