.guestlist {
  margin: 20px;
  font-family: Arial, sans-serif;
  color: #5c2c2c;
  background-color: #c93046;
  border-radius: 10px;
}

.guestlist__header {
  font-size: 48px;
  margin-bottom: 20px;
  text-align: center;
  color: #ffff;
  padding-top: 10px;
}

.guestlist__table {
  width: 100%;
  border-collapse: collapse;
}

.guestlist__table-head {
  background-color: #f2f2f2;
}

.guestlist__table-header-cell,
.guestlist__table-cell {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: left;
  background-color: #ffe9b0;
  font-size: 18px;
}

.guestlist__table-header-cell {
  font-weight: bold;
  font-size: 20px;
}

.guestlist__table-row:nth-child(even) {
  background-color: #f9f9f9;
}
